@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bege-claro: #f7f3ea;
  --verde-escuro: #243d32;
  --vermelho: #a63d32;
  --preto-suave: #242424;
  --branco: #ffffff;
  --bege-borda: #ded8cc;
  --cinza-secundario: #6b6b63;
  --dourado: #d6a84f;
}
body {
  width: 100%;
  color: var(--branco);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--verde-escuro);
  height: 100px;
}
h1 {
  margin-left: 60px;
  font-size: 3.5em;
  font-weight: bolder;
  color: var(--bege-borda);
}
nav ul {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-right: 60px;
}
nav ul li {
  list-style: none;
}
header nav ul li a {
  font-size: 1.5em;
  text-decoration: none;
  color: var(--dourado);
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s;
}
header nav ul li a:hover {
  background-color: #151f1a;
  color: #ac8842;
}
nav ul li button.book {
  font-size: 1.5em;
  font-weight: bold;
  height: 65px;
  width: 140px;
  border-radius: 10px;
  border: 2px solid var(--bege-borda);
  background-color: var(--vermelho);
  color: var(--bege-claro);
  transition: 0.2s;
}
.book:hover,
#cta .book:hover {
  border: 2px solid #a7a39b;
  background-color: #80342c;
  color: #c7c5bf;
}
main {
  background-color: var(--branco);
}
#hero {
  display: grid;
  grid-template-columns: 200px repeat(3, auto) 200px;
  grid-template-rows: 60px auto 60px;
  grid-column-gap: 0px;
  grid-row-gap: 10px;
}

#hero-info {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  flex-direction: column;
  background-color: #9b9b93;
  width: 600px;
  height: 600px;
  border-radius: 20px;
}
h2 {
  color: var(--bege-borda);
  font-size: 3em;
  margin: 20px;
}
p {
  color: var(--bege-claro);
  font-size: 1.4em;
  text-align: justify;
  margin: 20px;
}
#hero-buttons {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 50px;
  gap: 50px;
}
#hero-buttons button {
  font-size: 2em;
  font-weight: bold;
  height: 65px;
  width: 250px;
  border-radius: 10px;
  border: 2px solid var(--bege-borda);
  background-color: var(--vermelho);
  color: var(--bege-claro);
  transition: 0.2s;
}
#hero-buttons button:hover {
  border: 2px solid #a7a39b;
  background-color: #80342c;
  color: #c7c5bf;
}
#hero-img {
  grid-area: 2 / 4 / 3 / 5;
  width: 600px;
  height: 600px;
  border: 2px solid #243d32;
  border-radius: 20px;
}
hr {
  height: 10px;
  border: none;
  background-image: linear-gradient(
    to right,
    #008c45 0%,
    #008c45 33.33%,
    #f4f5f0 33.33%,
    #f4f5f0 66.66%,
    #cd212a 66.66%,
    #cd212a 100%
  );
  margin: 60px 0;
}
#specialties {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#specialties h2 {
  display: flex;
  align-items: center;
  background-color: #9b9b93;
  color: var(--bege-claro);
  font-size: 2.5em;
  padding: 20px;
  border-radius: 50px;
  box-shadow: 0px 20px 20px #474745;
}
.specialties-info {
  color: var(--bege-borda);
  font-size: 2em;
}
#specialties-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 60px 0;
}
.specialties-card {
  width: 400px;
  height: 600px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.specialties-card img {
  width: 390px;
  height: 400px;
  border: 3px solid blue;
  border-radius: 20px;
}
.card-info {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.specialties-card h3 {
  font-size: 2em;
  font-weight: bolder;
}
.description {
  font-size: 1.2em;
  text-align: justify;
}
.price {
  color: #d6a84f;
  font-size: 2em;
  margin-bottom: 10px;
}
#card1 {
  background-color: #008c45;
  border: 5px solid #243d32;
  box-shadow: 10px 10px 10px #243d32;
  color: #243d32;
}
#card1 .description {
  color: #243d32;
}
#card2 {
  background-color: #f5f5f5;
  border: 5px solid #c4c4c4;
  box-shadow: 10px 10px 10px #c4c4c4;
  color: #c4c4c4;
}
#card2 .description {
  color: #c4c4c4;
}
#card3 {
  background-color: #cd212a;
  border: 5px solid #91181e;
  box-shadow: 10px 10px 10px #91181e;
  color: #91181e;
}
#card3 .description {
  color: #91181e;
}
#about-us {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 600px;
}
#about-us-img img {
  border: 3px solid #008c45;
  width: 600px;
  height: 600px;
  margin-left: 60px;
  border-radius: 20px;
}
#about-us-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ac8842;
  border: 5px solid #d6a84f;
  width: 600px;
  margin-right: 60px;
  border-radius: 20px;
}
#about-us-info h2 {
  color: var(--bege-borda);
  font-weight: bolder;
}
#about-us-info p {
  color: var(--bege-claro);
  font-weight: bold;
}
#about-us-button {
  margin: 20px;
}
#about-us-button button {
  font-size: 2em;
  font-weight: bold;
  height: 75px;
  width: 300px;
  border-radius: 10px;
  border: 2px solid var(--bege-borda);
  background-color: #243d32;
  color: var(--bege-claro);
  transition: 0.2s;
}
#about-us-button button:hover {
  border: 2px solid #a7a39b;
  background-color: #151f1a;
  color: #c7c5bf;
}
#cta {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#cta button.book {
  font-size: 1.7em;
  font-weight: bold;
  height: 75px;
  width: 200px;
  border-radius: 10px;
  border: 2px solid var(--bege-borda);
  background-color: var(--vermelho);
  color: var(--bege-claro);
  transition: 0.2s;
}
footer {
  background-color: #91181e;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto 100px;
  grid-column-gap: 60px;
  grid-row-gap: 0px;
  align-items: center;
}
#footer-info {
  grid-area: 1 / 1 / 2 / 2;
  margin: 60px;
}
footer nav {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  justify-content: flex-end;
}
footer nav ul li a {
  font-size: 2em;
  text-decoration: none;
  color: var(--dourado);
}
footer nav ul li a:hover {
  color: #ac8842;
}
#copyright {
  grid-area: 2 / 1 / 3 / 3;
  display: flex;
  justify-content: center;
}
