@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFF8EC;
}
a {
  text-decoration: none;
}
/*CABEÇALHO */
header {
  background-color: #3A2C25;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  border-radius: 20px;
  margin: 10px;
}
nav ul {
  display: flex;
  gap: 10px;
  margin: 10px;
}
nav ul li {
  list-style-type: none;
}
nav ul li a {
  color: #FFF8EC;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
}
nav ul li a:hover {
  color: #3A2C25;
  background-color: #F3C6B5;
}
nav ul li a.active {
  color: #FFF8EC;
  background-color: #EFA15A;
}
h1 {
  color: #FFF8EC;
  margin: 10px;
  font-size: 2.2em;
  font-weight: bolder;
}
/*CONTEÚDO PRINCIPAL*/
main {
  margin: 10px;
}
.hero {
  background-color: #F3C6B5;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}
.hero .hero-img {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.hero img {
  border: 1px solid #3A2C25;
  width: 900px;
  height: 500px;
  border-radius: 30px;
}
.hero-info,
.brunch-info {
  display: flex;
  flex-direction: column;
}
.hero-title,
.hero-text {
  display: flex;
  justify-content: center;
}
.hero-text p {
  text-align: justify;
  color: #796A5F;
}
.hero-title h2,
.brunch-title h2 {
  color: #3A2C25;
}
.hero-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  margin: 10px;
}
.hero-buttons #menu-button {
  color: #FFF8EC;
  background-color: #EFA15A;
  border: 3px solid #C96F4A;
  padding: 10px;
  border-radius: 10px;
}
.hero-buttons #menu-button:hover {
  color: #FFF8EC;
  background-color: #C96F4A;
  border: 3px solid #EFA15A;
}
.hero-buttons #contact-button {
  color: #3A2C25;
  background-color: transparent;
  border: 3px solid #3A2C25;
  padding: 10px;
  border-radius: 10px;
}
.hero-buttons #contact-button:hover {
  color: #FFF8EC;
  background-color: #3A2C25;
  border: 3px solid #FFF8EC;
}
/*BRUNCH*/
.brunch {
  margin: 10px 0 0 0;
  background-color: #FFF8EC;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  border: 3px solid #D5C1A9;
  padding: 10px;
}
.brunch-img {
  display: flex;
  justify-content: flex-end;
}
.brunch-img img {
  border-radius: 20px;
  border: 3px solid #3A2C25;
}
.brunch-title,
.brunch-text {
  display: flex;
  justify-content: flex-start;
}
/*MENU*/
.menu {
  background-color: #E6D4BE;
  margin: 10px 0 0 0;
  border-radius: 20px;
  padding: 10px;
}
.menu-title {
  display: flex;
  justify-content: center;
  margin: 0 0 10px  0;
}
.menu h2 {
  color: #3A2C25;
}
.menu-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.menu-buttons button {
  background-color: #A8B79C;
  width: 150px;
  height: 45px;
  border-radius: 10px;
  color: #3A2C25;
  border: 3px solid #3A2C25;
  font-weight: bold;
}
.menu-buttons button:hover {
  background-color: #8FAF91;
  color: #3A2C25;
  border: 3px solid #3A2C25;
}
.menu-buttons button.active {
  background-color: #EFA15A;
  color: #FFF8EC;
  border: 3px solid #FFF8EC;
}